.icon {
  width: 50px;
  height: 50px;
}

.container {
  margin-top: 5%;
  margin-left: 5%;
}

.contact-box {
  background-color: var(--azul-escuro);
  min-height: 100vh;
}

.contact-form {
  /* background-color: #dae1e75e; */
  background-color: #1c4b82;
  border-radius: 15px;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  
  
}

h2 {
  color: var(--laranja);
  font-family: "Nasalization";
  font-size: 1.5rem;
}

.contact-img {
  border-radius: 15px;
}

p {
  color: #fff;
  font-family: "Poppins";
}

.form-control {
  border: none;
  border-radius: 12px;
}

.form-button {
  background-color: var(--laranja);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 60px;
  padding-right: 60px;
  border: none;
  color: white;
  border-radius: 23px;
  font-family: "Nasalization";
}

input {
  width: 100%;
}

input,
textarea,
input:focus,
textarea:focus {
  background-color: var(--cinza);
}

textarea {
  width: 100%;
}

form {
  margin-left: 10px;
  margin-right: 10px;
  
}

button:hover{
  background-color: var(--azul-escuro);
}
