<section class="contact-box">
  <app-header />
  <div class="container-fluid">
    <div class="row mt-4 gy-4">
      <div class="col-lg-6 mt-10 mb-5 d-flex flex-column align-items-center justify-content-center">
        <h2 class="pb-3 mt-5 mb-5">Será um prazer te conhecer!</h2>
        <img class="contact-img" src="../../../assets/images/contato-section-img.png" width="500px" height="400px" alt="">
      </div>
      <div class="contact-form mt-5 mb-5 col-lg-6 p-4">
        <p class="text-center pb-2 pt-4">Preencha o formulário com seus dados para entrarmos em contato:</p>
        <form class="row gy-3">
          <div class="input-box col-md-12">
            <input type="text" id="input1" class=" form-control" required placeholder="Nome completo">
          </div>
          <div class="input-box col-md-12">
            <input type="email" class="col-md-12 form-control" required placeholder="E-mail">
          </div>
          <div class="input-box col-md-12">
            <input type="text" class="form-control" required placeholder="Qual assunto deseja tratar?">
          </div>
          <div class="input-box col-md-12">
            <textarea placeholder="Descreva seu assunto" class="form-control" name="" id="" cols="30" rows="5"></textarea>
          </div>
          <div class="col-md-12 text-center">
            <button class="form-button mb-2 mt-2" type="submit">Enviar</button>
          </div>
        </form>
    </div>
    </div>

  </div>
  <app-footer />
</section>
