

.header-box{
    font-family: 'Nasalization';
    display: flex;
    justify-content: space-between;


}


.header-box p {
    font-size: 2.3rem;
    color: var(--laranja);
    letter-spacing: 0.1rem;
    margin-left: 60px;
    margin-top: 45px;
}

.header-box nav {
    font-size: 1.2rem;
    display: flex;
    margin-top: 48px;
    margin-right: 10%;
    gap: 80px;
    color: white;


}

nav a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
