<div class="mission container-fluid">
  <app-header></app-header>
  <div class="row text-center align-self-center">
    <div class="offset-2 col-8  mt-">
      <div>
        <h1 class="mb-5 mt-5">Por que Apollo Coders?</h1>
        <h2 class="mb-5">Venha desvendar este nome conosco</h2>
        <p class="mb-5 lh-lg">
          O nome "Apollo Coders" é uma escolha inspiradora que combina elementos da
          mitologia grega com a história do deus grego Apolo, com a incrível missão
          Apollo 11 que levou o primeiro homem à lua. Essa escolha traz uma rica
          simbologia. Na mitologia grega, Apolo é associado à luz, conhecimento,
          dentre outras coisas. Ele é frequentemente retratado como um deus
          altamente talentoso e versátil, além disso, ao fazer referência à missão
          Apollo 11, que marcou a primeira vez que o homem pisou na lua, o nome
          carrega consigo o espírito de desbravamento, conquista e superação de
          desafios que pareciam impossíveis. Da mesma forma, no mundo da
          programação, enfrentamos constantemente desafios alguns complexos, e a
          resolução desses desafios muitas vezes exige uma abordagem inovadora e
          corajosa.
        </p>
      </div>
      <div>
        <h1 class="mb-5 mt-5">Propósito</h1>
        <p class="mb-5 lh-lg">“A Apollo Coders decola rumo ao infinito do conhecimento, guiados pela determinação e colaboração, para desbravar os códigos que moldarão o futuro da inovação tecnológica”
        </p>
        <img class="mb-5 rounded-5" src="assets/images/apolo.svg" alt="imagem de uma aeronave rumo ao espaço">
      </div>
    </div>
  </div>
  <app-paragraph/>
  <app-footer/>
</div>
