
.about-box {
  background-color: #183661;

}

h1{
    color: var(--laranja);
    font-family: 'Nasalization';
    letter-spacing: 1.5px;


}
p{
    color: #130c0b;
    font-family: 'Nasalization';
    letter-spacing: 1.0px;
    font-size: 13px;
}


img{
  height: 160px;
  width: 160px;

}

.container{
  padding-top: 80px;
}

.cards{
  background-color: var(--cinza);
}
