<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-4 text-center justify-content-center">
      <p class="mt-5">© 2024 Apollo Coders</p>
      <!-- <p class="mt-3">
        Made with <i class="fas fa-heart"></i> by Apollo Coders
      </p> -->
      <div class="text-center">
        <a class="mr-2" href="https://github.com/Apollo-Coders" target="_blank"
          ><i class="fab fa-github fa-lg fa-fw"></i
        ></a>
        <a class="mr-2" href="mailto:apollocodersdev@gmail.com" target="_blank"
          ><i class="fa fa-envelope fa-lg fa-fw"></i
        ></a>
      </div>

    </div>
  </div>
</div>
