.about-box {
    background-color: var(--cinza);
    height: 100vh;
    background-image: url('../../assets/images/background.png');
    background-size: cover;
}
h2{
    color: #130c0b;
    font-family: 'Nasalization';
    letter-spacing: 1.5px;
    font-size: 3rem;
}
p{
    color: #130c0b;
    font-family: 'Nasalization';
    letter-spacing: 1.0px;
    font-size: 13px;
}