
.home-box{
  height: 100%;
  background-color: var(--cinza);
  background-image: url('../../../assets/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-logo{
  width: 35%;
  /* margin-left: 135px; */
}



.content{
  /* margin-top: 60px; */
  display: flex;
  align-items: center;
  gap: 100px;


}

.texts{
  width: 25%;
  margin-left: 85px;

}

.titles{
  color: #12305A;
  font-family: 'Nasalization';
  letter-spacing: 1.5px;
  font-size: 1.7rem;
}

.titles p{
  margin-bottom: 0;
  color: transparent;
}

.titles p:nth-child(1){
  animation: text_reveal 2.5s ease forwards;
  animation-delay: 0.5s;
}

.titles p:nth-child(2){
  animation: text_reveal 1.0s ease forwards;
  animation-delay: 1.5s;
}

.text{
  padding-top: 15px;
  font-size: 1.0rem;
  font-weight: 400;
  width: 100%;
  color: transparent;
  font-family: 'Poppins';
  letter-spacing: 3px;
  animation: joint_letters 1.5s ease forwards;
  animation-delay: 1.5s;

}

button{
  margin-top: 15px;
  background-color: var(--laranja);
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border: none;
  color: white;
  border-radius: 23px;
  margin-left: 75px;
  font-family: 'Nasalization';
  animation: button_reveal 1.5s ease-in forwards;
  /* animation: button_reveal 1.5s ease-in-out; */
  opacity: 0;
  animation-delay: 1.5s;
}
button:hover{
  background-color: var(--azul-escuro);
}

@keyframes text_reveal {
	100% {
		color: var(--azul-escuro);
	}
}

@keyframes joint_letters {
	100% {
		letter-spacing: 1px;
    color: var(--azul-escuro)
	}
}

@keyframes button_reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}

