<div class="home-box">
    <app-header></app-header>
    
    <main>
        <div class="content pb-5">
            <div class="texts">

                <div class="titles">
                    <p>Codificando Conexões</p>
                    <p>Criando Possibilidades</p>
                </div>

                <p class="text">Nossa equipe visa o caminho da inovação com confiabilidade e criatividade, buscando a excelência em cada linha de código.</p>
                <button>Saiba Mais</button>
            </div>

            
        

            <img src="assets/images/LOGO APOLLO CODERS.png" class="image-logo">
        </div>
    </main>
</div>