.main-content{
    /* padding-left: 110px;
    padding-top: 60px; */
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 80px;
    width: 85%;
}

.main-title{
    font-size: 1.6rem;
    color: #ffffff;
    font-family: 'Nasalization';
    letter-spacing: 1.5px;

}

.title-p{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--laranja);
    font-family: 'Nasalization';
    font-size: 1.3rem;

}

.texts-p{
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-family: Poppins;
    color: white;
    font-weight: 350;
    padding-left: 10px;
}

.visao{
    padding-top: 2px;
}

.last-sentence{
    padding-bottom: 5px;
}
