<section class="main-content">
    <h2 class="main-title mb-4">Visão, Missão, Valores</h2>

    <div class="content">
        <div class="title-p">
            <p>MISSÃO</p>
            <p class="visao">VISÃO</p>
            <p>VALORES</p>
        </div>

        <div class="texts-p">
            <p>Nossa missão é transformar visões em realidade, fornecendo soluções inovadoras e sustentáveis por meio de projetos excepcionais. Comprometemo-nos a superar as expectativas dos nossos clientes, promovendo o crescimento e o sucesso mútuo.</p>
            <p>Ser reconhecido como líder em excelência na entrega de projetos, impulsionando o progresso e a inovação em todas as áreas em que atuamos. Buscamos constantemente elevar os padrões da indústria, criando um impacto positivo duradouro.</p>
            <p class="last-sentence">Excelência, inovação, integridade, colaboração e sustentabilidade.</p>
        </div>

    </div>

</section>