.main-content{
    padding-left: 110px;
    padding-top: 60px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main-title{
    font-size: 1.6rem;
    color: #ffffff;
    font-family: 'Nasalization';
    letter-spacing: 1.5px;
   
}

.title-p{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.texts-p{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

