/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Nasa';
  src: url('assets/fonts/Nasa.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --laranja: #DD6D4D;
  --azul-escuro: #183661; 
  --azul: #1c4b82; 
  --cinza: #dae1e7; 
  --gradiente: linear-gradient(180deg, #0A66C2 42%, #DD6B4D 99.99%, #DD6B4D 99.99%);

}

