.main-content {
  padding-top: 3%;
  
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 80px;
  width: 85%;
}

.main-title {
  color: var(--laranja);
  font-family: "Nasalization";
  letter-spacing: 1.5px;
  padding-right: 15%;

}

th {
  color: var(--laranja);
  font-family: "Nasalization";
  text-transform: uppercase;
}

td,
th,
tr,
table {
  background-color: var(--azul-escuro);
  border: none;
  letter-spacing: 1.5px;
}
td {
  color: var(--cinza);
  font-family: "Poppins";
}
