<section class="main-content  container-fluid text-center align-self-center">
  <div class="row">
    <div class="offset-2 col-10">
      <h1 class="main-title mb-4">Visão, Missão, Valores</h1>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Missão</th>
            <td>
              <p class="lh-lg text-start col-10">
                Nossa missão é transformar visões em realidade, fornecendo
                soluções inovadoras e sustentáveis por meio de projetos
                excepcionais. Comprometemo-nos a superar as expectativas dos
                nossos clientes, promovendo o crescimento e o sucesso mútuo.
              </p>
            </td>
          </tr>
          <tr>
            <th scope="row">Visão</th>
            <td>
              <p class="lh-lg text-start col-10">
                Ser reconhecido como líder em excelência na entrega de projetos,
                impulsionando o progresso e a inovação em todas as áreas em que
                atuamos. Buscamos constantemente elevar os padrões da indústria,
                criando um impacto positivo duradouro.
              </p>
            </td>
          </tr>
          <tr>
            <th scope="row">Valores</th>
            <td>
              <p class="lh-lg text-start col-10">
                Excelência, inovação, integridade, colaboração e
                sustentabilidade.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
